<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Simple Canvas Game</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- HOSTED LOCATION OF LIBRARIES
		 jQuery 
			<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		Socket IO 
		    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		 Bootstrap 
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
			-->
			<!-- LOCAL LOCATION OF LIBRARIES -->
			<!-- jQuery -->
			<script type="text/javascript" src="static/lib/jquery-1.12.0.min.js"></script>
		<!-- Socket IO -->
		    <script type="text/javascript" src="static/lib/socket.io.min.js"></script>
		 <!-- Bootstrap -->
			<link rel="stylesheet" type="text/css" href="static/lib/bootstrap.min.css">			
			<link rel="stylesheet" type="text/css" href="static/css/game_beta.css">
	</head>
	<body>
		<div class="container-fluid wrapper">
		<div class="row">

 		</div>
 		<div id="scoreBoard">
 			<div class="score" id="myScore" >My Score: 0</div>
 		</div>
		<div class="row">
		<div id="canvasHolder"></div>
		</div>
		<div id="showHideNames">
		<input type="radio" name="playerName" id="showName" value="s">Show Player Names</input>
		<input type="radio" name="playerName" id="hideName" value="h">Hide Player Names</input>		
		</div>
		<div id="avatarSelect" style="float:left;clear:both">
		<p>PICK AN AVATAR COLOR</p>
		<button  class="button" value="0" >GREEN</button>
 		<button  class="button"  value="1" >RED</button>
 		<button  class="button"  value="2" >BLUE</button>
 		<button  class="button"  value="3" >GRAY</button>
 		<button  class="button"  value="4" >YELLOW</button>
 		</div>
		</div>
		<!-- JS used for manipulating canvas -->
		<script type="text/javascript" src="static/js/game_beta.js"></script>
	</body>
</html>